:host {
    display: flex;
    align-items: stretch;
    padding: 5px;
}

.note {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px 20px 5px 5px;
    background: #fffed0;
    position: relative;
    box-shadow: 3px 5px 1px 1px #777;

    &:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: #8c8900;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        border-radius: 0 35px 0 10px;
        box-shadow: 0px 0px 1px 1px #8c8900;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    &_title {
        border-radius: 0 25px 0 0;
        font-size: 1.1em;
        font-weight: bold;
        padding: 10px 5px;
        text-align: center;
        box-shadow: 0 1px 3px #333;
    }

    &_content {
        padding: 10px 20px;
        font-style: italic;
        font-size: 0.8em;
        max-height: 200px;
        overflow: auto;
    };

    &_actions {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        box-shadow: 0 -1px 3px #333;
    }

    &_edit {
        margin-right: 5px;
    }
}