/* You can add global styles to this file, and also import other style files */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #007bff;
  outline: 1px solid slategrey;
}

.hashtag {
  color: #007bff;
  font-weight: bold;
}
