.note-form {
    &_content-wrapper {
        min-height: 200px;
        position: relative;
    }

    &_content-view {
        padding:16px;
        position:absolute;
        top:0; left:0;
        padding: .375rem .75rem;
        height: 100%;
        min-height: 200px;
        width: 353px;
        max-width: 353px;
      }
      
    &_content-input {
        position:relative;
        -webkit-text-fill-color: transparent;
        color:black;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        padding: .375rem .75rem;
        min-height: 200px;
        height: 100%;
        width: 353px;
        max-width: 353px;
      }

    &_content-input:focus {
        outline: none;
        box-shadow: 0 0 5px 2px #007bff;
    }

    &_tags {
        max-width: 353px;
    }

    &_tags-list {
        margin-bottom: 5px;
        margin-left: 10px;
        padding-top: 5px;
    }
}